.crud-app {
  width: 100%;
  border-collapse: collapse;
}
.crud-app tr {
  text-align: center;
}
tr:nth-child(even) {
  background-color: grey;
}
.crud-app td {
  padding: 12px 0;
}
.crud-app th {
  background-color: orangered;
  padding: 18px 0;
  color: white;
}
